@model LoginViewModel
@{
    ViewData["Title"] = "Авторизация";
}
<div class="outer">
    <div class="inner container-fluid text-center">
        <h2>Вход в приложение</h2>
        <form method="post" asp-antiforgery="true" asp-controller="Authentication" asp-action="Login">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="m-2">
                <label asp-for="Email" class="form-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="register-error"></span>
            </div>
            <div class="m-2">
                <label asp-for="Password" class="form-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="register-error"></span>
            </div>
            <div class="form-check remember-me m-2">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label">Запомнить?</label>
            </div>
            <div class="m-2">
                <input type="submit" value="Войти" class="button-submit" />
            </div>
        </form>
    </div>
</div>