@model SearchListViewModel
@{
    ViewData["Title"] = "Список задач";
}

<partial name="SearchFormPartial" />

<div class="tasks__container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="2" class="tasks__title">Задачи</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var task in Model.Tasks)
            {
                <tr class="table__link" data-task="@task.Identifier">
                    <td class="tasks__identifier">@task.Identifier</td>
                    <td class="tasks__name">@task.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        RedirectToTaskEvent();
        SearchFormEvent();
    </script>
}