<form method="post" asp-controller="Search" asp-action="List" id="searchForm" class="background--white form-inline search--shadow">
    <div class="input-group mb-4 justify-content-center">
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="searchType" id="searchTypeName" autocomplete="off" value="@SearchType.Name" checked>
            <label class="btn btn-outline-dark" for="searchTypeName">Задачи</label>
            <input type="radio" class="btn-check" name="searchType" id="searchTypeDescription" autocomplete="off" value="@SearchType.Description">
            <label class="btn btn-outline-dark rounded-0" for="searchTypeDescription">Описания</label>
        </div>
        <input type="search" id="searchRequest" name="search" list="searchDatalist" placeholder="Поиск" autocomplete="off" class="form-control col__min-width--150" />
        <datalist id="searchDatalist"></datalist>
        <input type="submit" value="Найти" class="btn btn-outline-warning text-black" />
    </div>
</form>