@model PageViewModel
@{
    ViewData["Title"] = "Главная страница";
}
<div class="mx-auto">
    <form method="get" asp-controller="Home" asp-action="Index" class="form-inline">
        <div class="input-group mb-3">
            <label class="input-group-text" asp-for="ViewDate">Отображено на</label>
            <input type="date" asp-for="ViewDate" class="form-control" />
            <input type="submit" value="Изменить" class="btn btn-outline-secondary" />
        </div>
    </form>
</div>
<div class="inner container-fluid text-center">
    <span class="error_span error_500"></span>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="align-middle">
                    <th scope="col">Дата</th>
                    <th scope="col">Начало</th>
                    <th scope="col">Окончание</th>
                    <th scope="col" class="col__min-width--200">Задача</th>
                    <th scope="col" class="col__min-width--200">Описание</th>
                    <th scope="col">Время (час)</th>
                    <th scope="col" colspan="2">Часов всего:</th>
                    <th scope="col">@Model.TotalTime</th>
                </tr>
                <partial name="RowPartial" model="@Model.NewRow" />
            </thead>
            <tbody>
                @foreach (var row in Model.Rows)
                {
                    <partial name="RowPartial" model="row" />
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('ViewDate').addEventListener('change', debounce(SendDate, 1000));
            AddEventListenerByName('Name', 'input', debounce(SendName, 1000));
        });
    </script>
}