@model PageViewModel
@{
    ViewData["Title"] = "Главная страница";
}
<div class="mx-auto">
    <form method="get" asp-controller="Home" asp-action="Index" class="form-inline">
        <div class="input-group mb-3">
            <label class="input-group-text" asp-for="ViewDate">Отображено на</label>
            <input type="date" asp-for="ViewDate" class="form-control" />
            <input type="submit" value="Изменить" class="btn btn-outline-secondary" />
        </div>
    </form>
</div>
<div class="inner container-fluid text-center">
    <span class="" id="ErrorSpan"></span>
    <div class="row">
        <div class="col">
            <label class="form-label">Дата</label>
        </div>
        <div class="col">
            <label class="form-label">Начало</label>
        </div>
        <div class="col">
            <label class="form-label">Окончание</label>
        </div>
        <div class="col col__min-width--200">
            <label class="form-label">Описание</label>
        </div>
        <div class="col col__min-width--200">
            <label class="form-label">Задача</label>
        </div>
        <div class="col">
            <label class="form-label">Время (час)</label>
        </div>
        <div class="col">
            <label class="form-label">Часов всего:</label>
        </div>
        <div class="col">
            <label class="form-label">@Model.TotalTime</label>
        </div>
    </div>
    <partial name="RowPartial" model="@Model.NewRow" />
    <hr />
    @foreach(var row in Model.Rows)
    {
        <partial name="RowPartial" model="row" />
    }
</div>

@section Scripts{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('ViewDate').addEventListener('change', debounce(SendDate, 1000));
            AddEventListenerByName('Name', 'input', debounce(SendName, 1000));
        });
    </script>
}