@model PageViewModel
@{
    ViewData["Title"] = "Главная страница";
}

<partial name="SearchFormPartial" />

<div class="background--white mx-auto view-date--shadow">
    <form method="get" asp-controller="Home" asp-action="Index" class="form-inline">
        <div class="input-group mb-5">
            <label class="input-group-text" asp-for="ViewDate">Дата</label>
            <input type="date" asp-for="ViewDate" class="form-control" />
            <label class="input-group-text" asp-for="ViewTaskName">Задача</label>
            <input type="text" name="searchType" id="searchTypeViewName" value="@SearchType.Name" hidden />
            <input type="search" asp-for="ViewTaskName" list="filterTasks" autocomplete="off" class="form-control" />
            <datalist id="filterTasks"></datalist>
            <input type="submit" value="Отобразить" class="btn btn-outline-dark" />
        </div>
    </form>
</div>
<div class="background--white inner container-fluid text-center">
    <span class="error_span error_500"></span>
    <div class="table-responsive table-content--shadow">
        <table class="table table-hover">
            <thead class="table__horizontal-margin--1">
                <tr class="align-middle">
                    <th scope="col">Дата</th>
                    <th scope="col">Начало</th>
                    <th scope="col">Окончание</th>
                    <th scope="col" class="col__min-width--150">Задача</th>
                    <th scope="col" class="col__min-width--150">Описание</th>
                    <th scope="col" class="col__min-width--70">Время (час)</th>
                    <th scope="col" colspan="2">Часов всего:</th>
                    <th scope="col">@Model.TotalTime</th>
                </tr>
                <partial name="RowPartial" model="@Model.NewRow" />
            </thead>
            <tbody class="table__horizontal-margin--1">
                @foreach (var row in Model.Rows)
                {
                    <partial name="RowPartial" model="row" />
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        HomeIndexEvents();
    </script>
}